fastapi
uvicorn
sqlalchemy[asyncio]>=2.0.0
asyncpg
pydantic[email]
pydantic-settings
prometheus-client
slowapi
redis
python-multipart
bcrypt==4.0.1
passlib[bcrypt]==1.7.4
PyJWT
alembic
requests
colorama
cryptography
pgvector
loguru
openai
anthropic
google-generativeai
aiohttp
stripe
httpx
psycopg2-binary
