fastapi
uvicorn
sqlalchemy[asyncio]
asyncpg
pydantic[email]
pydantic-settings
prometheus-client
slowapi
redis
python-multipart
bcrypt==3.2.0
passlib[bcrypt]==1.7.4
PyJWT
alembic
requests
colorama
cryptography
pgvector
loguru
openai
anthropic
google-generativeai
aiohttp
stripe
httpx
